# Node.js related
/node_modules/
/.pnp/
.pnp.js

# Dependency directories
/.cache/
/.yarn/
/.npm/

# IDE files
/.idea/
/.vscode/

# Build files
/build/
/dist/
/out/

# Maven related
/target/
/.mvn/
.mvn/

# Logs
/logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db
